@CHARSET "UTF-8";
@font-face{
	font-family:NG;
	src:url(../font/NanumGothic.eot);
	src:local(※),url(../font/NanumGothic.woff) format('woff');
}

li{
	list-style-type: none;
	float:left;
	margin : 0px 30px 0px 0px;
}
li a {
	text-decoration: none;
	color: #898989;
	font-family: NG ;
	letter-spacing: 2px;
}

#banner{
	display: block;
	position: relative;
	left: 50%;
	width: 210px;
	margin-left: -105px;
	margin-top:46px;
	margin-bottom:46px;
}

.active a{
	font-weight: bold;	
	color:#000000;
}

.row .span10 > hr{
	margin : 8px 0px 0px 0px;
}
.row .span12 > p{
	margin-top: 50px;
	font-size: 8pt;
	text-align: center;
	font-weight: bold;
}
.works_box{
	margin : 0px 0px 20px 10px;
}

.works_img {
	float : left;
	margin:0px 10px 0px 0px;
	font-size : 25px;
	font-family: NG ;
}

.works_img img{
	width : 160px;
	height : 160px;
}

.works_contents{
	height : 160px;
}

.works_title {
	font-size : 25px;
	font-family: NG ;
	margin: 0px 0px 15px 0px;
	padding : 10px 0px 0px 0px;
}

.works_summary{
	font-family: NG ;
	margin: 15px 0px 0px 0px;
}
.emptyHeight{
	height:30px;
}
.explanation{
	font-family: NG ;
	font-size: 30px;
	margin: 0px 0px 30px 40px;
	line-height:140%;
}
